@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ffffff;
  --neutral-color: #e4e4e4;
  --text-color: #000000;
  --interaction-color: #374ea2;
  --secondary-color: #97c0d9;
  --alert: #ff3131;
}
